.navbar-nav{
    background: #222121;
    color: #eee;
}

.navbar-nav a{
    color: #767a87;
}

.navbar-nav .collapse-inner{
    background-color: #2b2929;
    color: white !important;
}

.card{
    /* border: 3px solid #2b2929; */
    overflow: hidden;
    margin: 10px;
}
.card:hover{
    cursor: pointer;
}

.card-selected{
    outline: 3px solid lightgreen;
}

button.action{
    background-color: #6a779c;
}
button:hover,
button:active,
button:focus
{
    background-color: #6a779c !important;
}